<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApp481For20231120.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	<appSettings>
		<add key="HandoffMessage" value="There is no hand off message."/>
	</appSettings>
 <userSettings>
  <WindowsFormsApp481For20231120.MySettings>
   <setting name="HandoffMessage" serializeAs="String">
    <value>There was no HandoffMessage set yet.</value>
   </setting>
  </WindowsFormsApp481For20231120.MySettings>
 </userSettings>
</configuration>